// 註冊頁面容器
.wrap {
    height: calc(100vh - 80px);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    form {
        min-height: 350px;
        width: 300px;
        padding: 30px;
        background-color: rgba(186, 186, 186, 0.8);
        border: 3px solid rgb(162, 162, 162);
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        gap: 15px;

        h2 {
            text-align: center;
            margin-bottom: 5px;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        input {
            width: 100%;
            line-height: 32px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
            margin-bottom: 5px;
        }

        button {
            padding: 10px;
            margin-top: 10px;
            background-color: #007BFF;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #0056b3;
            }
        }
    }
}
