/* 全局樣式 */

@keyframes fall {
    0% {
        transform: translateY(-100vh) rotate(0deg);
    }

    100% {
        transform: translateY(100vh) rotate(360deg);
    }
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
