<nav class="nav">
    <div class="logo">
        <img src="http://sumou.ddns.net/static/icon.png" alt="蘇氏Chat logo">
        <a [routerLink]="['/']">
            <p>蘇氏Chat</p>
        </a>
    </div>
    <div class="user" #userContainer>
        @if (!userService.isAuthenticated()) {
        <div class="link_container">
            <button [routerLink]="['/signin']" [queryParams]="{ mode: 'login' }" type="button"
                class="auth-btn login">登入</button>
        </div>
        <div class="link_container">
            <button [routerLink]="['/signin']" [queryParams]="{ mode: 'register' }" type="button"
                class="auth-btn register">註冊</button>
        </div>
        } @else {
        <p class="user_name" (click)="changeShowLogoutButtonStatus($event)"
            (keydown.enter)="changeShowLogoutButtonStatus($event)" tabindex="0" role="button">
            當前登入：{{ userService.user()?.username }}
        </p>
        @if (showLogoutButton()) {
        <div class="function_buttons">
            <button (click)="startChat()">開始聊天</button>
            <button (click)="logout()">登出</button>
        </div>
        }
        }
    </div>
</nav>
