.nav {
    .logo {
        a {
            text-decoration: none;
            color: inherit;
        }
    }
}

@media screen and (min-width:1301px) {
    .nav {
        height: 80px;
        background-color: #FFCBCB;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            height: 100%;
            display: flex;
            align-items: center;
            margin-left: 1.5625rem;

            p {
                margin: 0;
                font-size: clamp(3rem, 4vw, 5rem);
                font-family: 'LXGW WenKai Mono TC', monospace;
            }

            button:hover {
                color: #161616;
            }

            img {
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
                margin-right: 0.9375rem;
            }

        }

        .user {
            display: flex;
            align-items: center;

            .link_container {
                margin-right: 1.5625rem;

                button {
                    font-size: clamp(2rem, 4vw, 3.5rem);
                    font-family: 'LXGW WenKai Mono TC', monospace;
                    background: transparent;
                    border: none;
                    color: #505050;
                    cursor: pointer;
                    padding: 0.375rem 0.625rem;
                }

                button:hover {
                    color: #161616;
                }
            }

            .user_name {
                font-size: clamp(2rem, 4vw, 3.5rem);
                font-family: 'LXGW WenKai Mono TC', monospace;
                margin-right: 1.5625rem;
            }
        }
    }
}

@media screen and (max-width:1300px) {

    .nav {
        height: 50px;
        background-color: #FFCBCB;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            height: 100%;
            display: flex;
            align-items: center;
            margin-left: 1.5625rem;

            img {
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
                margin-right: 0.9375rem;
            }

            p {
                margin: 0;
                font-family: 'LXGW WenKai Mono TC', monospace;
            }
        }

        .user {
            display: flex;
            align-items: center;

            .link_container {
                margin-right: 1.5625rem;

                button {
                    font-family: 'LXGW WenKai Mono TC', monospace;
                    background: transparent;
                    border: none;
                    color: #505050;
                    cursor: pointer;
                    padding: clamp(0.375rem, 2vw, 0.625rem) clamp(0rem, 2vw, 0.1rem);
                }

                button:hover {
                    color: #161616;
                }
            }

            .user_name {
                font-size: clamp(1rem, 4vw, 3.5rem);
                font-family: 'LXGW WenKai Mono TC', monospace;
            }
        }
    }
}

@media screen and (max-width:1300px) and (min-width:601px) {
    .nav {
        height: 60px;

        .logo {
            p {
                font-size: 50px;
            }
        }

        .user {
            .link_container {
                button {
                    font-size: 42px;
                }
            }

            .user_name {
                font-size: 42px;
            }
        }
    }
}

@media screen and (max-width:600px) {
    .nav {
        height: 50px;

        .logo {
            p {
                font-size: 28px;
            }
        }

        .user {
            .link_container {
                button {
                    font-size: 24px;
                }
            }

            .user_name {
                font-size: 28px;
            }
        }
    }
}